<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCB-qTcJ2-3lu7ZokvDR0OSNaOjJMwqhRA</string>
	<key>GCM_SENDER_ID</key>
	<string>227304993843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egkarin.ch09Flutter</string>
	<key>PROJECT_ID</key>
	<string>test-df3df</string>
	<key>STORAGE_BUCKET</key>
	<string>test-df3df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227304993843:ios:51c603c2b12cb1a4f85f46</string>
</dict>
</plist>